@import '../../styles.scss';

header {
	background-color: white;
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: $header-height;
	z-index: 999;
	display: flex;
	flex: 150px 1 200px;
	align-items: center;
	justify-content: space-between;
}

header .left-side {
	display: flex;
	align-items: center;
}

header .app-search-bar {
	background-color: rgba(65, 9, 114, 0.28);
	display: flex;
	align-items: center;
	flex-direction: row;
	max-width: 700px;
	flex: 1;
	margin-left: 60px;
}

header .site-logo,
header .settings-logo {
	cursor: pointer;
	vertical-align: middle;
}

header .settings-logo {
	margin-left: 24px;
	margin-right: 24px;
	width: 24px;
	height: 24px;
}

header .site-logo {
	width: 90px;
	height: 20px;
}