@import '../../styles.scss';

header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	height: $header-height;
	z-index: 999;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header .left-side {
	background-color: rgba(108, 151, 138, 0.28);
	display: flex;
	align-items: center;
}

header .mid-side {
	background-color: rgba(179, 118, 231, 0.28);
	// display: flex;
	// width: 3000px;
	// align-items: center;
	// justify-content: center;
}

header .right-side {
	background-color: rgba(231, 231, 118, 0.28);
	display: flex;
	// width: 3000px;
	// align-items: center;
	// justify-content: center;
}

header .site-logo,
header .settings-logo {
	cursor: pointer;
	vertical-align: middle;
}

header .settings-logo {
	margin-left: 24px;
	margin-right: 24px;
	width: 24px;
	height: 24px;
}

header .site-logo {
	width: 90px;
	height: 20px;
}