:host,
form {
	background-color: rgba(9, 114, 40, 0.28);
	display: flex;
	align-items: center;
	flex: 1;
	max-width: 700px;
	margin-left: 60px;
}

form input {
	// position: relative;
	// min-width: 0;
	// max-width: 1000;
	// width: 1000px;
	cursor: text;
	flex: 1;
	// display: flex;
	// align-items: center;
	// justify-content: center;
	// flex-grow: 1;
}

form button {
	width: 100px;

}