.home-section {
	background: linear-gradient(90deg, #4831d4 67%, #ccf381 33%);

	position: fixed;
	display: flex;
	top: 0;
	width: 100%;

	h1 {
		margin-top: 10%;
		margin-left: 10%;
		box-sizing: border-box;
		font-size: 4.4em;
		color: #ccf381;
		font-weight: 900;
		line-height: 1.1;
		letter-spacing: -0.03em;

	}

	p {
		margin-left: 10%;
		text-size-adjust: 100%;
		font: inherit;
		font-weight: normal;
		-webkit-font-smoothing: inherit;
		user-select: auto;
		text-align: left;
		box-sizing: border-box;
		width: 32vw;
		transition: transform 0.5s, opacity 0.2s;
		line-height: 1.6;
		max-width: 701px;
		transition-delay: 310ms;
		color: #fff;
		font-size: 1.3em;
		opacity: 1;
		transform: translate3d(0, 0, 0);
	}

	ul {
		margin-left: 10%;
		margin-top: 10%;
		margin-bottom: 5%;
		color: #ccf381;
		font: inherit;
		width: 35%;
		list-style-type: none;
		padding: 0;
		display: flex;
	}

	li {
		line-height: 1.5;
		margin: 0 10px;
	}

	figure {
		margin-top: 50%;

		box-sizing: border-box;
		z-index: 1;
		width: 23.334em;
		height: 24.67em;
		position: relative;
		border: 0.115rem solid #fff;

		svg {
			z-index: -1;
			box-sizing: border-box;
			top: -25%;
			width: 40em;
			height: 126%;
			right: -5.4em;
			position: absolute;
			color: #3d155f;
		}

		img {
			text-size-adjust: 100%;
			font: inherit;
			font-weight: normal;
			line-height: inherit;
			-webkit-font-smoothing: inherit;
			color: #3d155f;
			user-select: auto;
			box-sizing: border-box;
			width: 100%;
			display: block;
			// height: inherit;
			margin-top: -2.435em;
			background-color: #fff;
			background-size: cover;
			background-position-x: center;
			margin-left: -2.2em;
			// background-image: url(/img/handsome.png);
		}

	}
}